@font-face {
    font-family: "B Ziba";
    src: url("../fonts/B Ziba_0.ttf");
}

@font-face {
    font-family: "Lalezar-Regular";
    src: url("../fonts/Lalezar-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}