body{
    font-family: "Lalezar-Regular";
    box-sizing: border-box;
}

.wrapper{
    
}

.header{
    justify-content: space-around;
    background-color: #8395a1;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    height: 95px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.data{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1350px;
    margin-bottom: 40px;

}

.invoice{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.total-invoice,.number,.invoice-date{
    margin-bottom: 10px;
}

#name,#family,#city,#phone,.content{
    font-size: 21px;
}

#invoice-numbe,#date-number{
    font-size: 15px;
}

#total-price{
    font-size: 24px;
}

.invoice-title,.number,.invoice-date,.total-invoice,.content{
    color: #637186;
}

.email{
    line-height: 20px;
    color: #fff;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.date{
    line-height: 20px;
    color: #fff;
}

.information{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
}

.data-complete{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100px;
}

.same{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.container{
    width: 1350px;
    margin: 0 auto;
}

table{
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
}

th{
    color:#57697d;
    font-size: 25px;
}

td{
    /* background-color: #ececec; */
    background-color: #4f4f4f;
    vertical-align: middle;
    border-radius: 5px;
    width: 500px;
    height: 40px;
}

td:hover{
    background-color: green;
}

#name,#email,#phone{
    font-size: 15px;
}

hr{
    width: 100%;
}

.sum{
    justify-content: center;
    align-items: center;
    text-align: right;
    line-height: 60px;
    display: flex;
    padding: 15px;
    height:60px;
}

.invoice,#total{
    font-size: 25px;
}

.button{
    background-color: #57697d;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    height: 20px;
    width: 65px;
}

.button:hover{
    background-color: rgb(173, 173, 173);
}

.linkBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    margin: 0 auto;
}

#new-item{
    text-decoration: none;
    vertical-align: middle;
    font-size: 18px;
    display: block;
    background-color: #57697d;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 65px;
    height: 20px;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

a[href="./invoice-data.html"]{
    text-decoration: none;
    vertical-align: middle;
    font-size: 18px;
    color: #fff;
}