body{
    font-family: "Lalezar-Regular";
    box-sizing: border-box;
}

.wrapper{

}

.header{
    justify-content: space-around;
    background-color: #8395a1;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    height: 95px;
}

.email{
    line-height: 20px;
    color: #fff;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.date{
    line-height: 20px;
    color: #fff;
}

.container{
    width: 1350px;
    margin: 0 auto;
}

table{
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
}

th{
    color:#57697d;
    font-size: 25px;
}

td{
    background-color: #ececec;
    vertical-align: middle;
    border-radius: 5px;
    width: 500px;
    height: 40px;
}

td:hover{
    background-color: green;
}

.data{
    background-color: blue;
    line-height: 120px;
    text-align: right;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    height: 400px;
}

hr{
    width: 100%;
}

.sum{
    justify-content: center;
    align-items: center;
    text-align: right;
    line-height: 60px;
    display: flex;
    padding: 15px;
    height:60px;
}

.invoice,#total{
    font-size: 25px;
}

.button{
    background-color: #57697d;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    height: 20px;
    width: 65px;
}

.button:hover{
    background-color: rgb(143, 143, 143);
}

a[href="./invoice-data.html"]{
    text-decoration: none;
    vertical-align: middle;
    font-size: 18px;
    color: #fff;
}