body{
    background-image: url("../images/dab558241364bd6da1a52aa396f041a4.jpeg");
    font-family: "Roboto-Regular";
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
}

.container{
    margin: 0 auto;
    height: 400px;
    width: 400px;
}

.form{
    box-shadow: 0 0 40px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    display: flex;
    padding: 40px;
    height: 100%;
    width: 100%;
}

h2{
    margin: 16px 0px;
    font-size: 30px;
    color: #fff;
}

label[for="username"],label[for="password"]{
    font-family: "Roboto-Bold";
    align-self: baseline;
    margin: 10px 0px;
    color: #fff;
}

#password,#username{
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    color: #000000;
    font-size: 20px;
    outline: none;
    height: 50px;
    border: none;
    width: 100%;
}

#password::placeholder,#username::placeholder{
    font-family: "Roboto-Medium";
    color: #ff8a05;
    padding: 10px;
    margin: 10px;
}

.buttons{
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.button{
    background-color: #fff;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #000;
    height: 40px;
    width: 100%;
}

.button:hover{
    background-color: rgb(224, 224, 224);
}

.button:active{
    background-color: rgb(155, 155, 155);
    
}