body{
    background-image: url("../images/0650.jpg_wh860.jpg");
    background-repeat: no-repeat;
    
}

.container{

}

h2{
    margin: 40px 0px;
    text-align: center;
    font-size: 50px;
    font-family: "Roboto-Regular";
}

#password,#username{
    outline: none;
    border: none;
}

label[for="username"],label[for="password"]{
    display: block;
    font-family: "Roboto-Bold";
}

.container1{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: purple;
}